body, html, #root {
  background: #ebebeb;
  width: 100%;
  height: 100%; }

p {
  margin: 0;
  font-size: 18px; }

h3, h4, h5, h6 {
  font-family: "Kaushan Script";
  text-align: center; }

.circles {
  border-radius: 1450px; }

.lighted {
  color: #b4b4b4; }

.App {
  background: #ebebeb;
  display: grid;
  grid-template-rows: auto 1fr auto; }

.about {
  font-family: "Courgette"; }
  .about p {
    color: #6e786e; }

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #646464;
  height: 100px;
  color: #b4b4b4; }

.navbar {
  border-bottom: 0.3px gray solid; }
  .navbar #menu li {
    color: white;
    opacity: 1;
    font-family: "Courgette"; }
  .navbar img {
    height: 45px;
    filter: invert(1); }

.Home {
  text-align: center; }
  .Home .intro-line {
    color: #6e786e;
    margin-bottom: 50px;
    font-family: "Courgette"; }
  .Home h3 {
    color: #6e786e;
    font-family: "Oswald"; }

.category {
  height: 13vh;
  box-shadow: 0 0 10px #b4b4b4;
  font-size: 20px;
  margin: 20px auto;
  width: 88%;
  border-radius: 5px;
  padding-right: 20px; }
  .category img {
    height: 100%; }
  .category .category-name {
    color: #6e786e;
    font-family: "Courgette"; }

.cat-des {
  background: white;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 0 4px gray;
  margin: 4px;
  max-width: 100%; }
  .cat-des p {
    font-family: "Courgette"; }

.searchbox {
  background: #c8c8c8;
  border-radius: 5px;
  padding: 10px;
  width: 90%; }
  .searchbox input {
    width: 70%;
    background: #ebebeb;
    outline: none;
    border-radius: 5px;
    margin-right: 20px; }

.categorymeals {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(147px, 1fr));
  grid-gap: 40px 15px;
  padding: 5px; }
  .categorymeals .categorymeal img {
    border-radius: 7px;
    box-shadow: 0 0 10px gray;
    width: 70%; }
  .categorymeals .categorymeal h4 {
    color: #6e786e;
    font-family: "Courgette"; }
  .categorymeals .categorymeal:hover {
    opacity: 0.4; }

.meal-recipe {
  font-family: "Courgette"; }
  .meal-recipe img {
    border-radius: 8px;
    width: 100%;
    margin: 24px 0; }
  .meal-recipe h5 {
    margin: 20px 0 10px;
    text-align: center;
    font-family: "Kaushan Script"; }
  .meal-recipe ul {
    text-align: center; }
  .meal-recipe li {
    display: inline-block; }
    .meal-recipe li span {
      font-size: 11px;
      color: #6e786e;
      padding-right: 2px;
      vertical-align: middle; }
  .meal-recipe .instructions {
    position: relative; }
    .meal-recipe .instructions .shower {
      color: #3232ff;
      font-size: 20px;
      font-weight: bold; }
    .meal-recipe .instructions .hidden-coverer {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: #343a40;
      color: #343a40; }
  .meal-recipe .video {
    background: gray;
    max-width: 320px;
    min-width: 100px;
    height: 180px;
    margin: 0 auto 30px;
    position: relative;
    z-index: 0; }
    .meal-recipe .video h5 {
      z-index: -1;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .meal-recipe .video iframe {
      z-index: 0;
      height: 100%;
      width: 100%; }

@media screen and (min-width: 575px) {
  .navbar {
    padding: 0 50px 0px 10px; }
    .navbar #menu {
      align-self: flex-start; }
      .navbar #menu li {
        opacity: 0.9; }
        .navbar #menu li:hover {
          opacity: 1;
          font-weight: bold; }
    .navbar img {
      height: 60px; }
  .cont {
    max-width: 800px;
    margin: auto; }
  .searchbox {
    background: white;
    transform: translateY(-50%);
    padding: 20px;
    width: 70%; }
  .categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-row-gap: 40px; }
    .categories .category {
      height: auto;
      flex-direction: column;
      position: relative;
      padding: 60px 0 20px;
      width: 70%; }
      .categories .category img {
        position: absolute;
        bottom: 100%;
        transform: translateY(50%);
        width: 80%;
        height: auto; }
  .categorymeals {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); }
  .meal-recipe {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: auto auto auto auto auto;
    grid-gap: 15px;
    max-width: 900px; }
    .meal-recipe section:first-of-type {
      grid-column: 1/3;
      grid-row: 1/2; }
    .meal-recipe section:nth-of-type(2) {
      grid-row: 3/4;
      text-align: center; }
    .meal-recipe section:nth-of-type(3) {
      grid-column: 2/3;
      grid-row: 2/6; }
    .meal-recipe img {
      grid-row: 2/3;
      width: 100%;
      margin-top: 60px; }
    .meal-recipe section:nth-of-type(4) {
      grid-row: 4/5; }
    .meal-recipe .instructions {
      height: auto; } }
