p {
  margin: 0;
  font-size: 18px; }

h3, h4, h5, h6 {
  font-family: "Kaushan Script"; }

.App {
  background: #ebebeb; }

.lighted {
  color: #b4b4b4; }

.navbar {
  border-bottom: 0.3px gray solid; }
  .navbar #menu li {
    color: white;
    opacity: 1;
    font-family: "Courgette"; }
  .navbar img {
    height: 45px; }

.Categories h3 {
  color: #6e786e;
  font-family: "Oswald"; }

.category {
  height: 13vh;
  box-shadow: 0 0 10px #b4b4b4;
  font-size: 20px;
  margin: 20px auto;
  width: 88%;
  border-radius: 5px;
  padding-right: 20px; }
  .category img {
    height: 100%; }
  .category .category-name {
    color: #6e786e;
    font-family: "Courgette"; }

.cat-des p {
  font-family: "Courgette"; }

.circles {
  border-radius: 1450px; }

.searchbox {
  background: gray;
  border-radius: 5px;
  padding: 10px;
  width: 90%; }
  .searchbox input {
    width: 70%;
    background: #ebebeb;
    outline: none;
    border-radius: 5px;
    margin-right: 20px; }

.categorymeals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px 15px;
  padding: 5px; }
  .categorymeals .categorymeal {
    box-shadow: 0 0 5px gray;
    position: relative; }
    .categorymeals .categorymeal h4 {
      color: #6e786e;
      font-family: "Courgette"; }
    .categorymeals .categorymeal:hover {
      opacity: 0.4; }

.meal {
  font-family: "Courgette"; }
  .meal img {
    border-radius: 8px; }
  .meal h5 {
    margin: 20px 0 10px;
    text-align: center;
    font-family: "Kaushan Script"; }

.instructions {
  height: 185px;
  overflow: auto;
  font-family: "Courgette"; }

.video {
  background: gray;
  max-width: 320px;
  min-width: 100px;
  height: 180px;
  margin: 0 auto 30px;
  position: relative;
  z-index: 0; }
  .video h5 {
    z-index: -1;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .video iframe {
    z-index: 0;
    height: 100%;
    width: 100%; }

@media screen and (min-width: 575px) {
  .navbar #menu {
    align-self: flex-start; }
    .navbar #menu li {
      opacity: 0.9; }
      .navbar #menu li:hover {
        opacity: 1;
        font-weight: bold; }
  .navbar img {
    height: 90px; }
  .searchbox {
    background: white;
    transform: translateY(-50%);
    padding: 20px;
    width: 70%; }
  .category-cont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-row-gap: 40px; }
    .category-cont .category {
      height: auto;
      flex-direction: column;
      position: relative;
      padding: 60px 0 20px;
      width: 70%; }
      .category-cont .category img {
        position: absolute;
        bottom: 100%;
        transform: translateY(50%);
        width: 80%;
        height: auto; }
  .categorymeals {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); } }
